.container {
    margin-top: 40px;
}
.badge {
    display: none;
}
a[type=button] {
    -webkit-appearance: none;
}
.btn {
    border-radius: 0;
    margin-right: 5px;
}

/* Для галереи */
.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}

#image-gallery .modal-footer{
    display: block;
}

.thumb{
    margin-top: 15px;
    margin-bottom: 15px;
}